

body {
    margin: 0;
    font-family: sans-serif;
    background-image: url(../img/foot.jpg);
  }
  
  img {
    width: 100%;
  }

  .container{
    text-align: center;
  }
  .Button {
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
  }
  .Button{
    color: #fff;
  }
  .Button:hover{
    color: #3498db;
  }
  .Button::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
  }
  .Button::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
  }
  .Button::before{
    height:180%;
  }
  .Button:hover::before{
    height: 0%;
  }
  
  header {
    text-align: left;
    background-color: rgb(154, 218, 255);
  }
  
  
  nav {
    text-align: left;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: -90vw;
    padding: 20px;
    transition: left 0.4s;
  }
  
  nav #menuButton {
    position: relative;
    left: calc(90vw - 5px);
    color: black;
    transition: color 0.6s, background-color 0.6s;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
  }
  .menuItem {
    padding: 20px;
    display: inline-block;
    width: 100%;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
  }
  
  .menuItem a {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
  }
  
  nav.active {
    left: 0vw;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  nav.active #menuButton {
    color: white;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .contents {
    text-align: center;
    font-family: "Amatic SC", cursive;
    font-size: 1.5em;
  }
  
  section {
    padding: 20px;
  }
  
  .text{
    text-align: center;
    font-size: 50px;
    color: #eeff02;
  }
  
  
  
  
  @media screen and (min-width: 800px) {
    header {
      text-align: left;
      background-color: rgb(154, 218, 255);
    }
    #menuButton {
      display: none;
    }
  
    #mainMenu {
      position: relative;
      height: auto;
      left: 0;
      display: flex;
      justify-content: center;
      padding: 0;
    }
  
    .menuItem {
      color: black;
      font-size: 1.2em;
      width: auto;
    }
  
    .Image {
      width: 50%;
      display: grid;
      float: none;
      margin-left: 250px;
    }
  
    
  }
  
  @media screen and (min-width: 1200px) {

    #mainMenu {
      display: flex;
      align-items: center;
    }
  
    .Image {
      width: 50%;
      float: none;
      margin-left: 500px;
    }

    
  }